* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
  overflow: hidden;

}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin-bottom: 10%;
  line-height: 3rem;
  color: #FEF2BF;
  text-transform: uppercase;
}

.container {
  margin-top: 30%;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
  border-radius: 20%;
}

.gameBtn {
  padding: 1rem 2rem;
  border-radius: 25px;
  outline: none;
  margin: 3rem 0;
  font-size: 2rem;
}

.gameBtn:hover {
  transform: scale(1.1);
}

.reset {
  color: red;
  border: 3px solid red;
}

.play {
  color: blue;
  border: 3px solid blue;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media(min-width: 1280px) {
  #level-title {
    margin-bottom: 2%;
  }

  .container {
    margin-top: 0%;
  }

  .btn {
    height: 200px;
    width: 200px;
  }

  .gameBtn {
    margin: 0 1px;

  }
}
